.navbar {
    padding: 0;
    background-color: #1C1C1C;

    .navbar-brand {
        color: #55B3FF;
        font-size: 20px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .nav-item > a {
        color: #999;

        &:hover {
            color: #fff;
        }
    }
}
