* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-top: 50px;
}

hr {
    border-color: #D0D0D0;
}

.inline-control {
    margin-left: 5px;
    margin-right: 5px;
}

.top-buffer {
    margin-top: 40px;
}

.content-header-left {
    float: left;
}

.content-header-right {
    float: right;
}

.content-header-text {
    margin-top: 5px;
    margin-bottom: 10px;
}

.content-header-hr {
    margin-top: 10px;
}

.block-right {
    float: right;
}


/* Shared.Button */

.icon-button {
    margin: 3px;
    border-radius: 0;
}


/* Main */

.main-menu {
    background-color: #F0F0F0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-content {
    margin-top: 20px;
}


/* Home page */


/* Users page */


/* Customers page */

.action-date-label {
    margin-right: 7px;
    font-size: 14px;
}

.customer-details-header-status {
    float: right;
    margin-left: 15px;
    margin-top: -3px;
}

.customer-details-left-column {
    padding-right: 30px;
}

.customer-details-right-column {
    padding-left: 30px;
}

.customer-details-representative-item {
    margin: 20px 0;
}

.customer-details-representative-item p {
    margin-bottom: 5px;
}

.customer-details-tab-block {
    margin: 10px;
}

.customer-edit-contacts-form {
    margin: 50px 70px;
}

.customer-edit-contact-item {
    margin: 10px 20px;
}

.customer-edit-contact-item .form-group {
    margin: 3px;
}