<div *ngIf="!topic || !topic.isArticle">
    <div class="stub">
        <i class="fa fa-leanpub"></i>
    </div>
</div>

<div *ngIf="topic && topic.isArticle && !article">
    <div class="spinner-wrapper">
        <div class="spinner"></div>
    </div>
</div>

<div *ngIf="topic && topic.isArticle && article">
    <app-article [article]="article"></app-article>
</div>