:host {
    color: #ffffff;
    font-size: 15px;
}

hr {
    border-color: #3D3D3D;
    margin: 0;
}

.sidebar {
    position: fixed;
    top: 40px;
    bottom: 0;
    width: 320px;
    border: none;
    background-color: #252525;
}

.sidebar-header {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sidebar-header:hover {
    background: #3D3D3D;
    cursor: pointer;
}