<nav class="sidebar">
    <div class="sidebar-header">
        <a (click)="toggle()">
            <div>
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </a>
    </div>

    <hr />

    <app-learning-content-menu></app-learning-content-menu>
</nav>