<div *ngIf="!menuItems">
  <div class="spinner-wrapper">
      <div class="spinner"></div>
  </div>
</div>


<ul class="nav flex-column">
  <ng-container *ngTemplateOutlet="menu; context:{ $implicit: menuItems }"></ng-container>
</ul>

<ng-template #menu let-list>
  <li class="nav-item" *ngFor="let item of list">
    <a class="nav-link" (click)="onMenuItemSelected(item)">
      <span class="article-title" *ngIf="item.element.isArticle"></span>
      <i *ngIf="item.element.isArticle" class="fa fa-file-text-o" aria-hidden="true"></i>
      <i *ngIf="!item.element.isArticle" class="fa-right fa fa-caret-down" aria-hidden="true"></i>

      <i *ngIf="!item.element.isArticle && item.expanded" class="fa fa-folder-open-o" aria-hidden="true"></i>
      <i *ngIf="!item.element.isArticle && !item.expanded" class="fa fa-folder-o " aria-hidden="true"></i>
      {{item.element.title}}
    </a>
    <ul class="nav flex-column" *ngIf="item.expanded">
      <ng-container *ngTemplateOutlet="menu; context:{ $implicit: item.subitems }"></ng-container>
    </ul>
  </li>
</ng-template>