:host {
    color: #ffffff;
    font-size: 15px;
}

.nav-link:hover {
    background: #3D3D3D;
    cursor: pointer;
}

.fa {
    margin-right: 5px;
}

.fa-right {
    margin-top: 4px;
    float: right;
}

.article-title {
    margin-left: 25px;
}