.article-container ::ng-deep {
    font-family: Arial, Helvetica, sans-serif;
    width: 750px;
    margin-left: 10px;

    h1 {
        font-size: 30px;
        font-weight: 300;
        margin: 10px 0;
    }

    h2 {
        color: #325d72;
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 3px;
        margin: 1.5em 0 1em;
        border-bottom: 1px solid #dddddd;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    pre,
    blockquote {
        page-break-inside: avoid;
    }

    pre,
    code {
        font-family: Menlo, Monaco, "Courier New", monospace;
        background-color: #f6f8fa;
    }

    pre {
        padding: .5rem;
        line-height: 1.25;
    }

    blockquote {
        border-left: 8px solid #f6f8fa;
        padding: 1rem;
    }

    blockquote > p {
        margin: 0;
    }

    .badge {
        font-size: 0.75rem;
        vertical-align: text-top;
    }
}
